.workingContainer {
    display:inline-block;
	width: 100%;
    height:auto;
    margin: 0 0;
	padding:0;
    position:relative;
	z-index:1;
}
.overlay {
    position:absolute;
    z-index:20;
	width: 100%;
    height:auto;
	left: 0px;
    top: 0px;
}